/* Webkit Animations */
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
	40% {
    -webkit-transform: translateY(-30px);
  }
	60% {
    -webkit-transform: translateY(-15px);
  }
}
@-webkit-keyframes flicker{
	0%, 20%, 30%, 100% {
		display:none;
		opacity:0;
	}
	10%,40%{
		display:block;
		opacity:1;
	}
}
@-webkit-keyframes flicker2{
	0%, 100% {
		display:block;
		opacity:1;
	}
	50%{
		display:none;
		opacity:0;
	}
}
/* JS add classes */
.on-page{
	opacity:1;
}

.leave-page{
	opacity:0;
}

/* Global Page Attributes */
* {
  margin: 0;
  padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}
p { 
	font-family: 'Playfair Display', serif; 
	font-size:17px; 
	max-width:700px;
	margin:0 auto;
	margin-bottom:15px;
	line-height: 1.5em;
	letter-spacing: .01rem;
}
	
.page {
  position:relative;
  overflow:hidden;
}

.full-page {
 height: 100vh;
}

.text {
	box-shadow: 0 0 50px rgba(0,0,0,.5);
	background-color:white;
	padding:80px 0 80px 0;
}

#body-content{
	max-width:600px;
	margin:0 auto;
	z-index:10;
	background-color:white;
}

h3,h4{
	font-family: 'Playfair Display', serif;
	opacity:0;
	transition: opacity 2s ease;
	z-index:3;
}
h3{
	color:#fff;
	position:absolute;
	left:50%;
	bottom:20px;
	translate:(0%,-50%);
	font-size:1.5em;
	text-align:center;
}
h4.chapter{
	color:white;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:2.4em;
	text-shadow: 1px 1px black;
	z-index:10;
}
h5{
	text-transform:uppercase;
	text-align:center;
	padding-top:20px;
	padding-bottom:30px;
}
.pull-quote p{
	font-size:2.2em;
	text-align:center;
	padding-bottom:30px;
	z-index:3;
}
.blk-rule{
	background-color:black;
	height:3px;
	width:200px;
	margin:0 auto;
	margin-bottom:30px;
}
.p-last{
	padding-bottom:35px;
}

/* Nav Bar */
.menu {
 position:fixed;
 width:100%;
 background-color:rgba(255,255,255,1);
 height:60px;
 z-index:20;
 top:0;
 left:0;
 transition: top 500ms ease;
 font-size:.80em;
 box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
}

.menu.hide {
 top: -70px;
}

.menu li {
  list-style:none;
  display:block;
  float:left;
  padding-left:25px;
  padding-right:25px;
  padding-top:8px;
}
.menu ul{
	padding-top:0px;
}

.menu li a {
 color:black;
 display:block;
 text-decoration:none;
 padding:5px;
 padding-bottom:9px;
}
.menu li a:hover{
	z-index:9999;
	border-bottom: 4px solid #66AADA;
}
.menu li a.selected{
    border-bottom: 4px solid #717bf6;
}
.context-container{
	margin:0 auto;
	width:570px;
	height:40px;
}
img.logo{
	position:absolute;
	margin-left:15px;
	margin-top:2px;
}
img.hamburger{
	position:absolute;
	right:15px;
	margin-top:2px;
}
#article-title{
	height:20px;
	background-color:rgba(240,240,240,1);
	width:100%;
	box-shadow: inset 0px -1px 5px 0px rgba(0,0,0,0.1);
	position:relative;
}
#article-title a{
	font-family: 'Playfair Display', serif; 
	text-decoration:none;
	color:rgba(0,0,0,1);
	font-size:12px;
	letter-spacing:.01rem;
	padding-top:3px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}



/* Specific Page Attributes */

.arrow-scroll{
	opacity:1;
	position:absolute;
	bottom:30px;
	left:50%;
	transform:translate(-50,0);
	transition:opacity 1s ease;
	-webkit-animation:bounce 1.5s 5s infinite;
}

/* Intro Cover */
.iframe-wrapper {
  width:100%;
  overflow:hidden;
  position:fixed;;
  z-index:0;
  height: 100vh;
  top:0;
  left:0;
background-image: url("img/BrilliancePro.jpg");
background-repeat: no-repeat;
background-size:100%;
}
.iframe-wrapper iframe {
  position: absolute;
  top:-10%;
  left:-20%;
  width:140%;
  height:120%;
}
.iframe-cover {
  position:relative;;
  left:0px;
  top:0px;
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,1);
  transition: background-color 3s ease 1s;
  z-index:2;
}

.iframe-cover.appeared {
  background-color:rgba(255,255,255,0.0);
}

.title{
	opacity:0;
	transition: opacity 4s ease;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
.title.appeared{
	opacity:1;
}
.t1{
	font-family: 'Playfair Display', serif;
	z-index:3;
	color:white;
	text-shadow: 1px 1px black;
	font-size:2.7em;
	letter-spacing:.05em;
}
.t2{
	font-family: 'Playfair Display', serif;
	text-align:right;
	padding-right:4px;
	z-index:3;
	font-weight:600;
	font-style:italic;
	color:rgba(0,0,0,1);
	opacity:0%;
	transition:opacity 3s ease 1s;
}
.t2.about{
	color:rgba(255,255,255,1);
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    letter-spacing: .02rem;
	opacity:0%;
	transition:opacity 3s ease 1s;
}

#bg-2 {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(76%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}
	
#bg-2a{
	background-color:black;
	height:600px;
}

#half-title{
      position:absolute;
      left:50%;
      top:40%;
      transform: translate(-50%, -50%);
     }

#chapterOne{
	background-image: url("img/rural-treatment.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-color:rgba(255,255,255,1);
	transition: background-color 3s ease 1s;
}

#chapterTwo{
	height:100vh;
	background-image: url("img/brilliance_baby.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-color:rgba(255,255,255,1);
	transition: background-color 3s ease 1s;
}
#chapterThree{
	height:100vh;
	background-image: url("img/order.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-color:rgba(255,255,255,1);
	transition: background-color 3s ease 1s;
}
#chapterFour{
	height:100vh;
	background-image: url("img/Brilliance-Nurse.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-color:rgba(255,255,255,1);
	transition: background-color 3s ease 1s;
}
		
		
img.fake-bg{
	height:100vh;
	width:100vw;
	position:absolute;
	margin:0 auto;
}
.ch1-cover{
	  position:relative;;
	  left:0px;
	  top:0px;
	  width:100%;
	  height:100vh;
	  background-color:rgba(255,255,255,1);
	  transition: background-color 2s ease 1s;
	  z-index:2;
}
.parallax{
	height:50vh;
	overflow:hidden;
}
.parallax-img{
	background-image::url("img/Brilliance-production.jpg");
    background-size:cover;
    background-position:50% 50%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width:100%;
    height:100vh
}

/*.ch1-cover.transition {
	  	  background-color:rgba(86,255,255,1);
	}*/

#bg-1 h1 {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
   }
   
#ch3-pull{
	margin-bottom:80px;
}
   
.get-fixed{
	position:fixed;
	top:0;
}
.not-fixed{
	position:relative;
}

.img-container{
	background-color:white;
	height:100%;
	width:100vw;
}
.img-container img{
	position:absolute;
	width:75%;
	height:75%;
	left:12%;
	bottom:200px;
}

#text-below-img{
	width: 100vw;
	height: 400px;
	margin-top: 480px;
}
p.space-after{
	padding-bottom:420px;
}
.light{
	z-index:2;
}
.flick{
	z-index:3;
	display:block;
	-webkit-animation:flicker 1s 2s infinite;
}
.img2-container{
	position:relative;
	height:115vh;
	width:100vw;
}
.img2-container img{
	position:absolute;
	width:75%;
	height:75%;
	left: 50%;
	top:-10%;
	transform: translateX(-50%);
}
.babeflick{
	z-index:1;
	-webkit-animation:flicker2 2.5s 2s infinite;
}
.stats{
	text-align:center;
	position: absolute;
	top: 530px;
	width: 105%;
}
ul.stats  li{
	font-family:'Playfair Display', serif;
	font-size:1.25em;
	font-weight: 600;
	font-style:italic;
	float:left;
	list-style:none;
	padding:0 20px 0 20px;
	width:22%;
}
span.num{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4em;
  color: black;
  -webkit-text-fill-color: #688079;
  text-fill-color: #688079;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1.5px #fff;
  background: white;
  text-shadow: 2px 2px 0 rgba(86,255,255,.5);
}

div.next-pg{
	height: 200px;
  	z-index: 999;
  	width: 100%;
  	position: absolute;
	bottom:-1440%;
 	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.next-pg ul{
  width: 1225px;
  top: 25%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.next-pg ul li{
	float:left;
	list-style:none;
	padding:0 80px 0 80px;
}


/* FOOTER */
#site-footer{
	position:relative;
	bottom:0;
	width:100vw;
	height:45vh;
	background-color:black;
	
}
.upper-foot{
	width:80vw;
}
img.footer{
	z-index:10;
}

img.footer-wb, img.footer-social{
	position:absolute;
}
img.footer-wb{
	left:85px;
	top:-20px;
}
img.footer-social{
	right:95px;
	top:-20px;
}
.copywrite{
	z-index:20;
	height:50px;
	position:absolute;
	border-top:solid 2px white;
	width:80%;
	left:50%;
	transform:translateX(-50%);
	bottom:0px;
	color:white;
	background-color:black;
}
.copywrite p,ul{
	font-family:'Roboto',sans-serif;
	font-size:12px;
	padding-top:12px;
}
.copywrite p{
	position:absolute;
	left:0;
}
.copywrite ul{
	position:absolute;
	right:0;
	list-style:none;	
}
.copywrite li{
	float:left;
	padding:0 10px 0 10px;	
}

