body {
  font-family:Arial;
  background-color: #CEE1E0;
}

.collection {
  margin: 0 20px;
  top:90px;
}
p{
  font-size: .8em;
}
p.distance{
  font-style: italic;
}
p.description{
  max-width:390px;
}
h3{
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .05rem;
  color:rgba(255,255,255,.75);
  font-style: italic;
}
#top{
  background-color:#282828; 
  width: 100%;
  top:0px;
  position:absolute;
  height:50px;
}

#filter-bar-wrapper {
  height:80px;
}

#filter-bar {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background-color:#444444;
  text-align:center;
  height:160px;
  padding-top:10px;
  z-index:2;
}

.category {
  color:#DDDDDD;
  background-color:#444444;
  border:solid 1px #9B9B9B;
  border-radius:5px;
  padding:5px;
  margin-bottom: 5px;
}

.category.selected {
  background-color:#B27F6D;
  border:solid 1px white;
  color:white;
}

#search  {
  padding:5px 180px 5px 5px;
  margin-bottom: 15px;
  margin-top: 50px;
  background-color: #444444;
  border:0px;
  border-bottom: solid 1px #9B9B9B;
}
#data-container{
  width:960px;
  position: relative;
  left:50%;
  transform:translateX(-50%);
}

.item {
  width: 200px;
  list-style-type:none;
  background-color:white;
  border:solid 1px #444444;
  padding:20px;
  float:left;
  cursor:pointer;
}

.item-big { width: 300px; }


.overlay {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.7);
  z-index: 3;
  display:none;
}


.modal {
  width: 400px;
  position: fixed;
  top: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color:white;
  padding:10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border:#9B9B9B;
  z-index:4;
  display:none;
  max-height:90%;
  overflow:auto;
}

.modal img { width:400px; height:275px; }

ul.views{
  position:absolute;
  top:0px;
  right:20px;
}
.views li{
  list-style: none;
  float:left;
  padding:0px 5px;
}
.views a{
  text-decoration: none;
  color:white;
  font-size: 12px;
  color:#9B9B9B;
}
a.select{
  color:#B27F6D;
  border-bottom: solid 1px #9B9B9B;
}

/* MINE 

.Apponaug {
	background-color:purple;
}
.Goddard-Park{
	background-color:teal;
}
.Buttonwoods{
	background-color:green;
}*/